<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="/static/style.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
		<style>
		body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/bg.jpg");
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
}
</style>
<link rel="stylesheet" href="/static/home.css">
	</head>
	<body class="loggedin">

		<nav class="navtop">
			<div id="topbar">
				<h1><i class="fas fa-book-open"></i>&nbsp; readme . {{username}}</h1>

                <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
			</div>
		</nav>


	<div class="wrapper">
		<form action="{{ url_for('search') }}" method="POST" id="">
      <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" name="search_term" placeholder="Type to search..">
        <div class="autocom-box">
        </div>
        <div id="search-icon" class="icon"></div>
      </div>
	  
	</form>
    </div>

     <script src="/static/suggestions.js"></script> 
     <script src="/static/search.js"></script> 

	 <h5>{{msg}}</h5>
	 <div class="result">
	 <div class="row" id="result">
		
		<div class="box" onclick="window.location.href='{{tthh[0][2]}}';">
			<p style="font-size: 17px;">{{tthh[0][0]}}</p>
			<p class="author">{{tthh[0][1]}}</p>
		</div>
		<div class="box" onclick="window.location.href='{{tthh[1][2]}}';">
			<p style="font-size: 17px;">{{tthh[1][0]}}</p>
			<p class="author">{{tthh[1][1]}}</p>
		</div>
	</div>
	<div class="row" id="result">
		<div class="box" onclick="window.location.href='{{tthh[2][2]}}';">
			<p style="font-size: 17px;">{{tthh[2][0]}}</p>
			<p class="author">{{tthh[2][1]}}</p>
		</div>
		<div class="box" onclick="window.location.href='{{tthh[3][2]}}';">
			<p style="font-size: 17px;">{{tthh[3][0]}}</p>
			<p class="author">{{tthh[3][1]}}</p>
		</div>
	</div>
	<div class="row" id="result">
		<div class="box" onclick="window.location.href='{{tthh[4][2]}}';">
			<p style="font-size: 17px;">{{tthh[4][0]}}</p>
			<p class="author">{{tthh[4][1]}}</p>
		</div>
		<div class="box" onclick="window.location.href='{{tthh[5][2]}}';">
			<p style="font-size: 17px;">{{tthh[5][0]}}</p>
			<p class="author">{{tthh[5][1]}}</p>
		</div>
	</div>
	<div class="row" id="result">
		<div class="box" onclick="window.location.href='{{tthh[6][2]}}';">
			<p style="font-size:17px;">{{tthh[6][0]}}</p>
			<p class="author">{{tthh[6][1]}}</p>
		</div>
		<div class="box" onclick="window.location.href='{{tthh[7][2]}}';">
			<p style="font-size: 17px;">{{tthh[7][0]}}</p>
			<p class="author">{{tthh[7][1]}}</p>
		</div>
	</div>
	<div class="row" id="result">
		<div class="box" onclick="window.location.href='{{tthh[8][2]}}';">
			<p style="font-size: 17px;">{{tthh[8][0]}}</p>
			<p class="author">{{tthh[8][1]}}</p>
		</div>
		<div class="box" onclick="window.location.href='{{tthh[9][2]}}';">
			<p style="font-size: 17px;">{{tthh[9][0]}}</p>
			<p class="author">{{tthh[9][1]}}</p>
		</div>

	 </div>
	</div>

	<script>
		// Get references to the input, icon, and result elements
		const input = document.getElementById('search-input');
		const icon = document.getElementById('search-icon');
		const result = document.getElementById('result');
	  
		// Add an event listener to the icon
		icon.addEventListener('click', () => {
		  // Get the input value
		  const query = input.value;
	  
		  // Send a request to the server to get the search results
		  fetch(`/search?q=${query}`)
			.then(response => response.json())
			.then(data => {
			  // Render the search results to the result div
			  result.innerHTML = `
				<h2>Search Results</h2>
				<ul>
				  ${data.map(item => `<li>${item}</li>`).join('')}
				</ul>
			  `;
			});
		});
	  </script>
	  
	
	</body>
</html>